
.dark {
	--bg-image: url("https://i.pinimg.com/736x/c9/fa/cd/c9facd028f6767c827106f7d6b613412.jpg");
	--aside-bg-image: url("https://i.pinimg.com/736x/13/80/79/138079e6790fde58f59a8b8a4f0c7b67.jpg");
	--header-bg-color: #3C204F;
	--font-color: #F4FFA3;
	--bg-color: #3F6B1A;
	--extra-color:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

:root {
	--bg-image: url("https://i.pinimg.com/736x/59/7b/29/597b29c8fff122df214eaa41f07564d5.jpg");
	--aside-bg-image: url("https://i.pinimg.com/736x/0e/3e/87/0e3e87a2b3beac6e46cef3cbbf72eada.jpg");
	--header-bg-color: #D2E8AC;
	--font-color: #3F2252;
	--bg-color: #DAB8F2;
	--extra-color:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

body {
	font-family: "Fredoka", sans-serif;
	color: var(--font-color);
	margin: 0;
	background-image: var(--bg-image);
	background-size: cover;
}

.flexing{
	display: flex;
	margin: 0 auto;
}

#main-header {
	background-color: var(--header-bg-color);
	height: 5rem;
	align-items: center; 
	position: sticky;
	margin: 0;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid var(--font-color);
	top: 0;
	z-index: 1;
}

header h1{
	margin-left: auto;
}

#welcome {
	font-size: 1.25rem;
	margin: 3rem auto 0;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	margin: .75rem auto;
	background-color: var(--bg-color);
	padding: 2rem;
	border-radius: 20px;
	box-shadow: 5px 5px 10px var(--font-color);
	width: min(17rem, 90vw);
}

.template {
	transition: transform 0.2s ease,
				box-shadow 0.2s ease;	
}

.template:hover {
	transform: translateY(-5px) scale(1.1);	 
}


nav ul {
	display: flex;
	margin-right: 1.5rem;
	padding-right: 1rem;
	list-style-type: none;
	text-align: left;
}

nav a {
	text-decoration: none;
	font-size: 1rem;
	color: inherit;
	margin-left: 1rem;
}

#settingsBtn {
	background: none;
    border: none;
    padding-left: 1rem;
    text-decoration: none;
	font-size: inherit;
    cursor: pointer;
	color: inherit;
	margin-left: 0.25rem;
}

.dropdown-menu button {
	background: none;
    border: none;
    padding: 0;
    text-decoration: none;
	font-size: inherit;
	line-height: inherit;
    cursor: pointer;
	color: inherit;
	
    display: block; 

}

.dropdown-menu {
    position: absolute;
	top: 100%;

	display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background: var(--header-bg-color);
    border: 1px solid var(--font-color);
    border-radius: 10px;
    padding: 0.5rem;
    min-width: 180px;

    z-index: 100;

}

.received-check{
    display: block;
}

#login-form, #wishlist-form, #signup-form{
	display: flex;
	flex-direction: column;
	line-height: 1.5rem;
}

.hidden {
	display: none;
}

#signup {
	text-align: center;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
	text-align: center;
	flex-wrap:wrap;
	gap: 20px;
}

a {
	color:var(--font-color);
}

#wishlist-container, #get-started-container, #explore-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	gap: 4rem;
}

#get-started-container h3 {
	text-align: center;
}

